.calculator-container{
  margin: 0 auto;
  margin-block: 30px;
  background-color: var(--theme-champagne);
  max-width: 400px;
  border-radius: 5px;
  padding: 15px;
   text-align: center; 
  align-items: center;
}


.calculator-container h2{
  font-weight: bold;
  color: var(--theme-slate-gray);
  font-size: 24px;
}
.input-div {
    display: flex;
    flex-direction: column; /* Organiza los inputs en columna */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 400px; /* Puedes ajustar este valor si quieres limitar el ancho */
    gap: 8px; /* Espaciado entre los inputs */
    margin-bottom: 8px;  
  }

.input-div input {
    width: 100%; /* Hace que los inputs ocupen todo el ancho disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
  background-color: var(--theme-timberwolf);
  }

  .button-container {
    width: 100%; /* Hace que ocupe todo el ancho disponible */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre el bloque superior y el botón "Calcular" */
}

.top-buttons {
    display: flex;
    gap: 5px; /* Espacio entre "Agregar" y "Borrar" */
    width: 100%;
}

.top-buttons button {
    flex: 1; /* Hace que ambos botones ocupen el mismo espacio */
}

.full-width {
    width: 100%; /* Hace que el botón "Calcular" ocupe todo el ancho */
}

button {
    padding: 10px;
    border: none;
    color: var(--theme-champagne);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.add-button{
  background-color: var(--theme-cherry);
}
.delete-button{
  background-color: var(--theme-puce);
}
.calculate-button{
  background-color: var(--theme-slate-gray);
}

.results-container{
  margin: 0 auto;
  margin-block: 10px;
  background-color: var(--theme-timberwolf);
  border-radius: 10px;
  padding-block: 10px;
  color: var(--theme-slate-gray);
}

.list-friends{
  display: flex;
  flex-direction: column;
}

.transaction-list{
    display: flex;
  flex-direction: column;
}






