.footer{
    background-color: var(--theme-cherry);
    color: var(--theme-champagne);
    display: flex;
    margin-top: auto;
    align-items: flex-end;
}

.footer p{
    display: flex;
    font-size: 10px;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 0;
}