@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Urbanist", sans-serif;
}



:root{
    --theme-cherry:#EDAFB8;
    --theme-ash-gray:#B6BCB6;
    --theme-champagne:#F7E1D7;
    --theme-timberwolf:#DEDBD2;
    --theme-slate-gray:#667A7D;
    --theme-puce:#C1839F;

}
body{
    background-color: var(--theme-ash-gray);
}
li{
    text-decoration: none;
    list-style: none;
    all: unset;
}
.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size: 1.3rem;
}



